<script src="{{ '/assets/js/header-dynamic.js' | relative_url }}"></script>
<script src="{{ '/assets/js/collection-grid-layout.js' | relative_url }}"></script>
<script src="{{ '/assets/js/collection.js' | relative_url }}"></script>
<script src="{{ '/assets/js/collection-admin.js' | relative_url }}"></script>
<script src="{{ '/assets/js/story-utils.js' | relative_url }}"></script>
<script src="{{ '/assets/js/story-public.js' | relative_url }}"></script>
<script src="{{ '/assets/js/story-admin.js' | relative_url }}"></script>
