<div class="time-bar" data-minutes="{{ totalMinutes }}" data-scroll-direction="down">
    <div class="time-meta time-meta-start">
        <span class="time-completed"></span>
        <span class="time-direction" aria-hidden="true">
            <svg class="chevron chevron-first"><use xlink:href="#icon-arrow-right"></use></svg>
            <svg class="chevron chevron-second"><use xlink:href="#icon-arrow-right"></use></svg>
        </span>
    </div>
    <div class="bar">
        <span class="completed" style="width:0%;"></span>
        <span class="remaining" style="width:100%;"></span>
    </div>
    <span class="time-remaining"></span>
</div>
