<div class="visitor-widget" data-visitor-counter aria-label="Live visitor counts">
  <div class="visitor-widget-row">
    <span class="visitor-label">Visits:</span>
    <span class="visitor-value" data-visitor-field="visits">0000000</span>
  </div>
  <div class="visitor-widget-row">
    <span class="visitor-label">Uniq. Visitors:</span>
    <span class="visitor-value" data-visitor-field="uniqueVisitors">0000000</span>
  </div>
  <div class="visitor-widget-row">
    <span class="visitor-label">On-site:</span>
    <span class="visitor-value" data-visitor-field="onSite">0000000</span>
  </div>
</div>
